* {
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

html {
  --link-color: rgba(0,0,180,1);
  --link-color-hover: rgba(0,50,255,1);
}


body {
  padding: 64px;
  font: normal 95%/150% 'Roboto Mono', sans-serif;
  font-size: 15px;
  max-width: 600px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a, a:active, a:visited {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
  border-bottom-color: var(--link-color-hover);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.8em;
}

p {
  opacity: 0.75;
  line-height: 2em;
  margin-bottom: 1.8em;
}

.main {
  margin: 2em auto;
}

.title {
  font-size: 1.5em;
  text-decoration: none;
  border: none;
}
