@font-face {
  font-family: 'Apercu Mono';
  src: url('/font/apercu_mono.woff');
}
* {
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}

html {
  --link-color: rgba(0,0,255,1);
  --link-color-hover: rgba(0,80,255,1);
}

body {
  position: relative;
  padding: 64px;
  font: normal 95%/150% 'Apercu Mono', sans-serif;
  font-size: 18px;
  max-width: 768px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  background: transparent url('/img/bg.jpg') top right no-repeat;
  background-attachment: fixed;
}

a, a:active, a:visited {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}

a:hover {
  color: var(--link-color-hover);
  border-bottom-color: var(--link-color-hover);
}

header {
  position: relative;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.8em;
}

p {
  opacity: 0.75;
  line-height: 2em;
  margin-bottom: 1.8em;
}

.main {
  margin: 2em auto;
}

.title, .title:active {
  display: inline-block;
  width: 134px;
  height: 48px;
  text-indent: 30000px;
  border: none;
  font-size: 1.5em;
  text-decoration: none;
  background: transparent url('/img/elizar.png') top center no-repeat;
  background-size: contain;
}

.sub {
  font-size: 0.8em;
  text-transform: uppercase;
  opacity: 0.4;
  letter-spacing: 0.5px;
  font-weight: bold;
  margin-bottom: 1.5em;
}

.section:not(:last-child) {
  margin-bottom: 64px;
}

ul.social {
  list-style-type: disclosure-open;
  margin-left: 1.8em;
}

ul.social li {
  margin-bottom: 1em;
}
